/* @import './base.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  background: #ffc;
  height: 100%;
  /* padding */
}

input, textarea {
  display: block;
  width: 100%;
}

button {
  display: block;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
